.location {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.address {
    font-size: 24px;
}

.btn {
    background: black;
    color: white;
    font-size: 16px;
    font-weight: 300;
    width: fit-content;
    align-self: center;
    padding: 12px 20px;
    border-radius: 8px
}

img {
    width: 280px;
    height: 80%;
    object-fit: cover;
}